#bg {
  /* rules to fill background */
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;

  /* positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  color: white;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 0px;
  margin: 0px;

  font-family: monospace;
}

.logo{
  position: relative;
  display: block;
  z-index: 1;
  min-height: 170px;
  height: 30vh;
  vertical-align: center;
  margin: 1px;
  padding: 8px 0px;
}

.logo img {
  min-height: 125px;
  height: 80%;
  width: auto;
}

.logo h1 {
  margin: 0px;
  text-shadow: 1px 1px black;
}

#text-box {
  z-index: 1;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: center;
  width: 75%;
  line-height: 25px;
  margin: 0px 12.5%;
  margin-bottom: 16px;
  padding-bottom: 8px;
  min-height: 60vh;
}

#text-box h2 {
  line-height: 35px;
  padding: 4px 8px 0px 8px;
}

#text-box p {
  margin: 0px;
  padding: 0px 8px;
  font-size: 1.2rem;
  line-height: 27px;
}

#text-box table {
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.8);
  vertical-align: center;
  color: white;
}

#text-box table thead tr th {
  min-width: 100px;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}

#text-box table tbody tr td {
  min-height: 50px;
  min-width: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}

#text-box table tbody tr img {
  min-height: 20px;
  width: auto;
}

.question {
  margin: 1px;
  padding: 4px 8px;
}

.answers {
  font-size: 1.25rem;
  /*
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  */
  vertical-align: center;
  padding: 0px 0px 8px 0px;
}

.answers a {
  margin: 8px 10%;
  width: 80%;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answers a:hover {
  background-color: rgba(255, 255, 255, 0.33);
}

#text-box button {
  color: white;
  background-color: black;
  border: 2px solid white;
  width: 30%;
  min-height: 8vh;
  font-size: 1.25rem;
}

#portrait {
  min-height: 20px;
  height: 10vh;
  width: auto;
}

.player {
  color: rgb(54, 128, 255);
}
